<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record?  %>" style= "display: flex">
  <div class="col-sm-6"> 
    <%= f.text_field :category, placeholder: "Type", class: "form-control" %>
  </div>
  <div class="col-sm-6"> 
    <%= f.number_field :earning, placeholder: "Amount", class: "form-control"  %>
  </div>

  <button type="button" data-action="nested-form#remove" class="btn btn-primary" >X</button>

  <%= f.hidden_field :_destroy %>
</div>