<div id="<%= dom_id income_expenditure_statement %>">
  <p>
    <strong>Name:</strong>
    <%= income_expenditure_statement.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= income_expenditure_statement.user_id %>
  </p>

</div>
