<h1>Editing income expenditure statement</h1>

<%= render "form", income_expenditure_statement: @income_expenditure_statement %>

<br>

<div>
  <%= link_to "Show this income expenditure statement", @income_expenditure_statement %> |
  <%= link_to "Back to income expenditure statements", income_expenditure_statements_path %>
</div>
