<p style="color: green"><%= notice %></p>

<h1>Income Expenditure Statements</h1>

<div id="income_expenditure_statements">
  <% if @income_expenditure_statements.blank? %>
    <p>You don't have any income expenditure statements.</p>
  <% else %>
    <% @income_expenditure_statements.each do |income_expenditure_statement| %>
      <%= render income_expenditure_statement %>
      <hr class="my-4">
      <p>
        <%#= link_to "Show this income expenditure statement", income_expenditure_statement %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New Statement", new_income_expenditure_statement_path %>
